@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: sans-serif;
}

.app{
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);;
}